body{
    background-color: #393E46;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #F7F7F7;
}
.main{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 80%;
    width: 60%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    background-color: #393E46;
}
.main-head{
    margin: auto;
    text-align: center;
    white-space: nowrap;
}
.main-body{
    margin: auto;
    text-align: center;
    white-space: nowrap;
}
.weatherinfo{
    margin: auto;
    text-align: center;
    white-space: nowrap;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #22A39F;
    }

td{
    border: 1px solid #222222;
    text-align: left;
    padding: 8px;
    background-color: #4c6c5f;
    }
th {
    border: 1px solid #222222;
    text-align: left;
    padding: 8px;
    background-color: #6D9886;
    }
img{
    height: 30px;
    width: 30px;
}
a{
    text-decoration: none;
    color: #F2E7D5;
}
