<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Weather App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div class="main">
            <div class="main-head">
                <h1>What's the weather like today?</h1>
            </div>
            <div class="weatherinfo">
                <table>
                    <tr>
                        <th>City</th>
                        <th>Temp</th>
                        <th>Humidity</th>
                        <th>Weather</th>
                    </tr>
                        <tr>
                            <td>{{ data.name }}</td>
                            <td>{{ data.main.temp }}°F</td>
                            <td>{{ data.main.humidity }}%</td>
                            <td><img src='http://openweathermap.org/img/w/{{ data.weather[0]["icon"]}}.png' /> {{ data.weather[0]['main'] }}</td>
                        </tr>
                </table>
            </div>
        </div>
    </body>
</html>